@import "tailwindcss";

/* Setup Layer Base để reset CSS chuẩn hơn */
@layer base {
  :root {
    --background: 240 10% 96%; /* Màu #F2F4F7 quy đổi sang HSL */
    --foreground: 222 47% 11%; /* Màu chữ tối */
  }

  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
    -webkit-tap-highlight-color: transparent;
  }
}
